@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg {
   

    text-align: center;

}

.m {
    margin: 5px;
    margin-left: ;

}

.list {
    list-style-type: none;
    text-align: center;
}

.button {
    border-radius: 5px;
    margin: 5px;
    color:black;
    background-color: white;
    border-style: solid;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
   
}

.button2 {
    background-color:black;
    color: #66FCF1;
    border-radius: 5px;
    width:100%;
    height: fit-content;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 50px;
    margin-top: 30px;
}

.bg-container {
    background-color: #894bca;
    height: 100%;
    background-size: cover;
}

.select-store-container {
    background-color: #ffffff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 20px;
}

.bgnew {
    background-color: white;
    border-radius: 10px;
    margin: 28px;
    padding: 10px;

}
.ready{
    background-color: gray;
    height: 300px;
    width: 100%;
    background-size: cover;
    margin: 0%;
}
.font1
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.main-bg1{
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    padding: 8px;
    
}

    .btn {
        cursor: pointer;
        border: 1px solid #3498db;
        background-color: transparent;
        height: 50px;
        width: 200px;
        color: #3498db;
        font-size: 1.5em;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
       
            
            margin-right: 0;
            margin-left:auto;
            display:block;
          
}
body, html {
    height: 100%;
  }
  
  .bg-new {
    /* The image used */
    background-image: url("images/1st\ image.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .heading-1{
    text-align: center ; 
    font-family: 'Courier New', Courier, monospace;  
    font-weight: bolder; 
  }

  .dp-btn{
    background-color: white; 
    border-style: solid;
    font-family: 'Courier New', Courier, monospace;
  }
  .main-bg-image{
    background-color: white;
    height: 100%;
    padding: 15px;
    width: 100%;
    
  }
  .para-color{
  color: black;
  font-weight: bold;
  font-family: Georgia, serif;
  }
  
  .sub-bg-color{
  border-radius: 4px;
    background-color: #e1e1e1;
    height: 200px;
    padding: 3px;
    margin: 8px;
  }
  #right_curtain {
    z-index: 1;
    position: fixed;
    width: auto;
    height: 100%;
  }
 .btn-2{
  height: fit-content;
  width: fit-content;
  font-size: px;
  
 }
 .list-style{
  border-style: solid; 
  border-radius: 8px; 
  width: fit-content; 
  height: fit-content; 
  padding: 10px; 
  margin: 10px;
 }
 .events-btn{
  font-family: 'Courier New', Courier, monospace; 
  width: fit-content; 
  height: fit-content; 
  font-size: 40px;
  font-weight: bolder; 
}
/* Dropdown Button */
.dropbtn {
  background-color:white;
  font-family: 'Courier New', Courier, monospace; 
  color:black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  height: fit-content;
  
  font-size: 30px;
  border-style: solid;
  border-radius: 10px;
  width: 100%;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color:light grey;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  font-family: 'Courier New', Courier, monospace; 
  height: fit-content;
  
  font-size: 30px;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
  font-family: 'Courier New', Courier, monospace; 
  height: fit-content;
  
  font-size: 30px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}